# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/
**/_old
# And all the file types you're interested in.
!*.py
!*.R
!*.r
!*.txt
!*.png
!*.wav
!*.csv
!*.pdf
!*.Rdata
# and .gitignore
!.gitignore
